@font-face {
  font-family: 'Diaria Sans Pro';
  src: url('./global/fonts/DiariaSansPro-Regular.woff2') format('woff2'),
  url('./global/fonts/DiariaSansPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
